.hero-background {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    align-items: center;
    margin: auto;
}

.hero-content {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 1.5rem;
}

span {
    background: linear-gradient(270deg, var(--color-white), var(--color-gray), var(--color-white));
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s linear infinite;
}

p {
    font-size: 1.1rem;
    color: var(--color-gray);
}

.btn-projects {
    position: relative;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 1rem;
    padding: 1rem 1.75rem;
    width: max-content;
    background: var(--color-blue-logo);
    margin-top: 4rem;
    color: var(--color-white);
}

.btn-projects:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 1rem;
    background-color: white;
    color: var(--color-blue-logo);
    transition: .5s;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0%;
    }

    to {
        transform: translateY(0);
    }
}

/* Celulares médios e pequenos (480px) */
@media (max-width: 768px) {
    .hero-content {
        font-size: 1rem;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero-content {
        font-size: 2rem;
    }
}

/* Laptops e desktops pequenos */
@media (min-width: 1025px) and (max-width: 1200px) {}

/* Desktops médios */
@media (min-width: 1201px) and (max-width: 1600px) {}

/* Desktops grandes */
@media (min-width: 1601px) {}