<h2 class="projects-title">PROJETOS</h2>
<div class="projects-items">
    <a href=""><img src="Keeper.jpeg" alt=""></a>
    <div>
        <h3>Keeper</h3>
        <p>Neste projeto, criei um aplicativo chamado Keeper que permite ao usuário adicionar e apagar notas. O objetivo
            deste desafio foi aprimorar meus conhecimentos em React, JavaScript, manipulação do DOM e Node.js. O
            código-fonte está disponível no meu repositório do GitHub</p>
    </div>
</div>

<div class="projects-items2">
    <a href=""><img src="Keeper.jpeg" alt=""></a>
    <div>
        <h3>Keeper</h3>
        <p>Neste projeto, criei um aplicativo chamado Keeper que permite ao usuário adicionar e apagar notas. O objetivo
            deste desafio foi aprimorar meus conhecimentos em React, JavaScript, manipulação do DOM e Node.js. O
            código-fonte está disponível no meu repositório do GitHub</p>
    </div>
</div>

<button class="btn-projects">Todos Projetos</button>