.skills-title {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.skills-items {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    gap: 6.5rem;
    flex-wrap: wrap;
    width: 70%;
}

.skill img {
    height: 90px;
    width: 90px;
}

.skill img:hover {
    height: 90px;
    width: 90px;
    transform: scale(1.1);
}

.skill h3 {
    margin: 1rem 0px;
}

/* Celulares médios e pequenos (480px) */
@media (max-width: 768px) {
    .skills-title {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .skill img {
        height: 45px;
        width: 45px;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Laptops e desktops pequenos */
@media (min-width: 1025px) and (max-width: 1200px) {}

/* Desktops médios */
@media (min-width: 1201px) and (max-width: 1600px) {}

/* Desktops grandes */
@media (min-width: 1601px) {}


