<h2 class="projects-title">PROJETOS</h2>

@if (isFetching() && !error()) {
    <!-- <p class="fallback-text">Buscando Projetos...</p> -->
    <div class="loading-spinner"></div>
}

@if (error()) {
    <p class="fallback-text">{{ error() }}</p>
}

@if (projects() && projects()!.length > 0) {
<app-projects [projects]="allProjects() ? projects()! : projects()!.slice(0,4) " />
<button class="btn-projects" (click)="onAllProjects()">{{ allProjects() ? 'Mostrar menos' : 'Mostrar mais' }}</button>
} @else if (projects()?.length === 0 && !isFetching()) {
<p class="fallback-text">Infelizmente nenhum projeto foi encontrado!</p>
}